*,
*::before,
*::after {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: black;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

div {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: blueviolet;
  width: 75%;
  display: flex;
  justify-content: center;
}

.startButton {
  justify-content: center;
}

.clock {
  flex-direction: row;
  justify-content: flex-end;
  color: aliceblue;
}

h4 .showScore {
  color: aliceblue;
}

.questions {
  width: 40%;
}

#question {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: blueviolet;
  font-size: 1.5rem;
  color: ghostwhite;
  font-weight: bolder;
  justify-content: center;
  border: black;
  border-radius: 5px;
  border-width: 2px;
  line-height: 1.5;
  padding-top: 20px;
}

button {
  margin-left: 20%;
  margin-top: 8px;
  width: 250px;
  height: 33px;
  border: 1px;
  border-radius: 7px;
  background: #fff;
  font-weight: bold;
  font-size: 1.1em;
  color: #666;
  box-shadow: 0 4px 4px #06f;
  outline: none;
  justify-content: flex-start;
  text-align: left;
}

button:active {
  /* set time duration to your needs */
  animation: gradient 100ms;
  background: rgb(175, 208, 240);
  color: #fff;
  box-shadow: none;
}
